.order-history-page {
  margin-top: 100px;
  padding: 24px 20px 48px;
  min-height: calc(100vh - 200px);
  background: #faf9fc;
}

.order-history-container {
  max-width: 1450px;
  margin: 0 auto;
}

@media (max-width: 450px) {
  .order-history-page {
    padding: 10px;
  }
}
